<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.neuedu.java20vblog.mapper.ArticleMapper">
    <update id="updateViewsByArticleId">
        update article
        set views = views + 1
        where id = #{id}
    </update>
    <select id="getArticleDetailsById" resultMap="DetailsMap">
        select a.id,title,htmlContent,cid,cname,status,uid,nickname,publishTime,updateTime,views
        from article a
        join category c
        on c.id = a.cid
        join user u
        on u.id = a.uid
        where a.id = #{id}
    </select>
    <resultMap id="DetailsMap" type="org.neuedu.java20vblog.model.Article">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="htmlContent" property="htmlContent"></result>
        <result column="cid" property="cid"></result>
        <result column="status" property="status"></result>
        <result column="uid" property="uid"></result>
        <result column="publishTime" property="publishTime"></result>
        <result column="updateTime" property="updateTime"></result>
        <result column="views" property="views"></result>
        <association property="user" javaType="org.neuedu.java20vblog.model.UserBean">
            <id column="uid" property="id"></id>
            <result column="nickname" property="nickname"></result>
        </association>
        <association property="category" javaType="org.neuedu.java20vblog.model.Category">
            <id column="cid" property="id"></id>
            <result column="cname" property="cname"></result>
        </association>
    </resultMap>
    <select id="getArticleById" resultType="org.neuedu.java20vblog.model.Article">
        select a.id,title,mdContent,cid,status
        from article a
        where a.id = #{id}
    </select>
    <select id="getArticleInfos" resultMap="ArticleInfoMap">
        select a.id as id,title,publishTime,uid,cid,nickname,cname
        from article a
        join user u
        on a.uid = u.id
        join category c
        on c.id = a.cid
        <where>
            <if test="status == 0">
                status = 1
            </if>
            <if test="status != 0">
                status = #{status} and uid = #{uid}
            </if>
            <if test="keyWords != null">
                and title like concat('%',#{keyWords},'%')
            </if>
        </where>
    </select>
    <resultMap id="ArticleInfoMap" type="org.neuedu.java20vblog.model.Article">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="publishTime" property="publishTime"></result>
        <association property="user" javaType="org.neuedu.java20vblog.model.UserBean">
            <id column="uid" property="id"></id>
            <result column="nickname" property="nickname"></result>
        </association>
        <association property="category" javaType="org.neuedu.java20vblog.model.Category">
            <id column="cid" property="id"></id>
            <result column="cname" property="cname"></result>
        </association>
    </resultMap>
    <update id="modifyArticle">
        update article
        set title = #{title},mdContent = #{mdContent},htmlContent = #{htmlContent},cid = #{cid},status = #{status},updateTime = #{updateTime}
        where id = #{id}
    </update>
    <insert id="publishArticle">
        <selectKey keyProperty="id" resultType="Long" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into article
        values (default,#{title},#{mdContent},#{htmlContent},#{uid},#{cid},default,default,#{status},default)
    </insert>
    <select id="getChildCateInfos" resultMap="CategoryMap">
        select c.*,p.id as pid,p.cname as pcname,p.parentId as pparentid,p.createTime as pcreatetime
        from category c
        join category p
        on c.parentId = p.id
    </select>
    <resultMap id="CategoryMap" type="org.neuedu.java20vblog.model.Category">
        <id column="id" property="id"></id>
        <result column="cname" property="cname"></result>
        <result column="parentId" property="parentId"></result>
        <result column="createTime" property="createTime"></result>
        <association property="parent" javaType="org.neuedu.java20vblog.model.Category">
            <id column="pid" property="id"></id>
            <result column="pcname" property="cname"></result>
            <result column="pparentid" property="parentId"></result>
            <result column="pcreatetime" property="createTime"></result>
        </association>
    </resultMap>
</mapper>