<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.neuedu.java20vblog.mapper.CategoryMapper">
    <delete id="multiDelCates">
        delete from category
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <update id="updateCategory">
        update category
        <set>
            cname = #{cname}
            <if test="parentId != null">
                ,parentId = #{parentId}
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="delCategoryById">
        delete from category
        where id = #{id}
    </delete>
    <select id="getCategoryByParentId" resultType="int">
        select count(*) as counts
        from category
        where parentId = #{id}
    </select>
    <select id="getParentCategory" resultType="org.neuedu.java20vblog.model.Category">
        select * from category where parentId = #{id}
    </select>
    <insert id="addCate">
        insert into category
        <if test="parentId != null">
            values (default,#{parentId},#{cname},default)
        </if>
        <if test="parentId == null">
            values (default,default,#{cname},default)
        </if>
    </insert>
    <select id="checkCateRepeat" resultType="int">
        select count(*) as counts
        from category
        <where>
            cname = #{cname}
            <if test="parentId != null and parentId != -1">
                and parentId = #{parentId}
            </if>
<!--            <if test="parentId == null or parentId == -1">-->
<!--                and parentId is null-->
<!--            </if>-->
        </where>
    </select>

    <select id="getCategoryInfos" resultMap="CategoryMap">
        select c.*,p.id as pid,p.cname as pcname,p.parentId as pparentid,p.createTime as pcreatetime
        from category c
        left join category p
        on c.parentId = p.id
        <where>
            <if test="value != null">
                c.cname like concat('%',#{value},'%')
            </if>
        </where>
        order by c.parentid
    </select>
    <resultMap id="CategoryMap" type="org.neuedu.java20vblog.model.Category">
        <id column="id" property="id"></id>
        <result column="cname" property="cname"></result>
        <result column="parentId" property="parentId"></result>
        <result column="createTime" property="createTime"></result>
        <association property="parent" javaType="org.neuedu.java20vblog.model.Category">
            <id column="pid" property="id"></id>
            <result column="pcname" property="cname"></result>
            <result column="pparentid" property="parentId"></result>
            <result column="pcreatetime" property="createTime"></result>
        </association>
    </resultMap>
</mapper>