<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.neuedu.java20vblog.mapper.MenuMapper">
    <select id="getMenuRoles" resultMap="BaseResultMap">
        select m.id as id,pattern,r.id as rid,rname,rnameZh
        from menu m
        join menu_role mr
        on m.id = mr.mid
        join role r
        on r.id = mr.rid
    </select>
    <resultMap id="BaseResultMap" type="org.neuedu.java20vblog.model.Menu">
        <id column="id" property="id"></id>
        <result column="pattern" property="pattern"></result>
        <collection property="roles" ofType="org.neuedu.java20vblog.model.Role">
            <id column="rid" property="id"></id>
            <result column="rname" property="rname"></result>
            <result column="rnameZh" property="rnameZh"></result>
        </collection>
    </resultMap>
</mapper>