<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.neuedu.java20vblog.mapper.UserBeanMapper">
    <insert id="insertUserRole">
        insert into user_role
        values
        <foreach collection="roleIds" item="rid" separator=",">
            (default,#{id},#{rid})
        </foreach>
    </insert>
    <delete id="deleteUserRole">
        delete from user_role
        where uid = #{id}
    </delete>
    <select id="getUserRoles" resultType="org.neuedu.java20vblog.model.Role">
        select *
        from role
        where id in (select rid from user_role where uid = #{id})
    </select>
    <update id="updateLocked">
        update user
        set nonLocked = #{nonLocked}
        where id = #{id}
    </update>
    <update id="updateEnabled">
        update user
        set enabled = #{enabled}
        where id = #{id}
    </update>
    <select id="getUserInfos" resultMap="UserBeanMap">
        select u.*,r.id as rid,rname,rnameZh
        from user u
        join user_role ur
        on u.id = ur.uid
        join role r
        on r.id = ur.rid
        <where>
            <if test="value != null">
                username like concat('%',#{value},'%')
                or
                nickname like concat('%',#{value},'%')
            </if>
        </where>
        order by nickname
    </select>
    <resultMap id="UserBeanMap" type="org.neuedu.java20vblog.model.UserBean">
        <id column="id" property="id"></id>
        <result column="username" property="username"></result>
        <result column="nickname" property="nickname"></result>
        <result column="gender" property="gender"></result>
        <result column="email" property="email"></result>
        <result column="enabled" property="enabled"></result>
        <result column="nonLocked" property="nonLocked"></result>
        <collection property="roles" ofType="org.neuedu.java20vblog.model.Role">
            <id column="rid" property="id"></id>
            <result column="rname" property="rname"></result>
            <result column="rnameZh" property="rnameZh"></result>
        </collection>
    </resultMap>
</mapper>