<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!--  引入axios  -->
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.js"></script>
    <!-- api -->
    <script src="./api/index.js"></script>
    <!--组件加载器-->
    <script src="https://unpkg.com/http-vue-loader"></script>
    <style>
        .header{
            height: 50px;
            background: #409EFF;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .header h3{
            color: #fff;
        }
        .el-dropdown-link {
            cursor: pointer;
            color: #fff;
        }
        .el-icon-arrow-down {
            font-size: 12px;
        }
    </style>
</head>
<body style="margin:0;">
<div id="app">
    <el-container>
        <el-header class="header">
            <h3>班级学员信息管理系统</h3>
            <el-dropdown @command="dropdownOperate">
                    <span class="el-dropdown-link">
                        {{loginUser.nickname}}<i class="el-icon-arrow-down el-icon--right"></i>
                    </span>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item command="userSettings">用户中心</el-dropdown-item>
                    <el-dropdown-item divided command="logout">用户退出</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </el-header>
        <el-container>
            <el-aside width="200px">
                <el-menu>
                    <el-menu-item index="1" @click="menuActive = 1" v-if="flag == 200 || flag == 500">
                        <i class="el-icon-user"></i>
                        <span slot="title">学员管理</span>
                    </el-menu-item>
                    <el-menu-item index="2" @click="menuActive = 2" v-if="flag == 200 || flag == 500">
                        <i class="el-icon-user-solid"></i>
                        <span slot="title">教师管理</span>
                    </el-menu-item>
                    <el-menu-item index="3" @click="menuActive = 3" v-if="flag == 200">
                        <i class="el-icon-menu"></i>
                        <span slot="title">班级管理</span>
                    </el-menu-item>
                </el-menu>
            </el-aside>
            <el-main>
                <student-manage v-if="menuActive == 1"></student-manage>
                <teacher-manage :flag="flag" v-if="menuActive == 2"></teacher-manage>
                <class-manage v-if="menuActive == 3"></class-manage>
            </el-main>
        </el-container>
    </el-container>
</div>

<script>
    Vue.use(httpVueLoader);
    const vm = new Vue({
        el : '#app',
        data:{
            flag : 0,
            loginUser : JSON.parse(window.sessionStorage.getItem("loginUser")),
            menuActive : ''// 激活的菜单
        },
        methods:{
            userRolesCheck() { // 用户角色校验
                let bool = true;
                this.loginUser.roles.forEach((item,index) => {
                    if (item.rname == 'ROLE_dba' || item.rname == 'ROLE_admin') {
                        bool = false;
                        this.flag = 200;
                    }
                })
                if (bool) {
                    this.flag = 500;
                }
            },
            dropdownOperate(command) {// 点击下拉选项
                if (command == 'logout') {
                    this.$confirm('此操作将退出系统, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        getRequest('http://localhost:8081/logout').then(resp => {
                            if (resp.status == 200 && resp.data.code == 200) {
                                window.sessionStorage.removeItem('loginUser');
                                this.$message.success(resp.data.msg);
                                setInterval(function () {
                                    window.location.href = './Login.html';
                                }, 800);
                            }
                        })
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消操作'
                        });
                    });
                }
            },
            loginCheck() {// 登录校验的函数
                if (this.loginUser == null) {
                    window.location.href = "./Login.html";
                }
            }
        },
        mounted() {// DOM渲染完毕
            this.loginCheck();
            this.userRolesCheck()
        },
        components:{
            classManage : 'url:./ClassManage.vue',
            studentManage : 'url:./StudentManage.vue',
            teacherManage : 'url:./TeacherManage.vue',
        }
    })
</script>
</body>
</html>
